.table
{
    margin: 0em 0em 0em 1em !important;
    overflow: hidden;
    
    min-width: 50%;

    table-layout: fixed;

    font-size: 12px;

    border: 1px solid #CCC;
    border-collapse: separate;
}

.table td, .table th
    { border-right: 1px solid #CCC !important; }

.table td:last-child, .table th:last-child
    { border-right: none !important; }

.code-block
    { max-width: 50%; }

.code-block tr:nth-child(even)
    { background-color: #F9F9F9; }

.code-block th
{
    margin: 0px;
    padding: 0px 5px 0px 0px;

    width: 24px;
    min-width: 24px;
    max-width: 24px;

    border: none;
    border-right: 1px solid #CCC;

    text-align: right !important;
    font-weight: initial;

    background-color: #F1F1F1;
}

.code-block td
{ 
    margin: 0px;
    padding: 0px 0px 0px 5px;

    border: none; 
}
